# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
node_modules
assets/css/main.min.css.map
assets/css/main.min.css

assets/bower_components

assets/fonts
!assets/fonts/glyphicons-*
!assets/fonts/.gitkeep

.DS_Store